@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts';
@import 'header';
@import 'footer';
@import 'index';
@import 'posts';
@import 'pagination';

$default-color: #1b1f25;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat-VF', Helvetica, sans-serif;
  @extend .text-default;
}

.italic,
i,
em {
  font-style: italic;
}

* {
  box-sizing: border-box;
}

.text-default {
  color: $default-color;
}

.bg-default {
  background-color: $default-color;
}

.text-hover {
  @apply transition-all duration-200;
  &:hover {
    @apply text-red-500;
  }
}

.container {
  @apply mx-auto w-full px-4 md:px-8 xl:w-5/6 lg:px-0;
}

.button {
  @apply uppercase font-light inline-block bg-red-500 transition-all duration-300 text-white text-lg px-6 py-2 tracking-widest;
  &:hover {
    background-color: $default-color;
  }
}

.hover-scale {
  @apply transition-all duration-300;
  &:hover {
    @apply scale-110;
  }
}

.ellipsis-three {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
