.new-posts,
.popular-posts {
  @apply relative;
  .container {
    @apply lg:flex;
  }
  &__col {
    @apply w-full lg:w-1/2 lg:mx-10 z-10;
  }
  .latest-post,
  .popular-post {
    @apply pb-10 lg:pb-0;
    &__image {
      @extend .hover-scale;
    }
    &__tag {
      @apply text-red-500 mt-8 uppercase text-sm tracking-widest;
      @extend .maven;
    }
    &__title {
      @apply text-xl md:text-4xl font-bold mt-4;
      @extend .maven;
      @extend .text-hover;
    }
    &__description {
      @apply leading-7 mt-8;
    }
  }
  .recent-post {
    @apply md:flex mt-8;
    &:first-child {
      @apply mt-0;
    }
    &__image {
      @apply w-full md:w-2/5;
      img {
        @extend .hover-scale;
      }
    }
    &__text {
      @apply md:w-3/5 md:pl-10;
    }
    &__tag {
      @apply text-red-500 text-xs uppercase tracking-widest mt-6 md:mt-0;
      @extend .maven;
      span {
        @apply ml-4 inline-block;
        &:first-child {
          @apply ml-0;
        }
      }
    }
    &__title {
      @apply text-2xl font-semibold mt-4;
      @extend .text-hover;
      @extend .maven;
    }
    &__description {
      @apply mt-8 leading-7;
      @extend .ellipsis-three;
    }
  }
}
.recent-posts {
  @apply pt-8 md:pt-14 lg:pt-20 pb-14 md:pb-20 relative mt-10;
  .container {
    @apply relative z-10;
  }
  &:before {
    content: '';
    @apply absolute z-0  top-0 left-0 h-full w-full lg:w-11/12 bg-gray-100;
  }

  &__title {
    @apply text-2xl md:text-3xl lg:text-5xl font-bold capitalize md:float-left;
    @extend .maven;
  }
  &__category {
    @apply md:float-right text-sm uppercase text-red-500 mt-3 lg:mt-4 lg:pr-10 block;
    @extend .maven;
  }
  &__wrapper {
    @apply clear-both md:grid md:gap-8 md:grid-cols-2 lg:grid-cols-4 w-full  lg:w-11/12 pt-2 lg:pt-0;
  }
  &__item {
    @apply mt-4;
    &__image {
      @extend .hover-scale;
    }
    &__tag {
      @apply text-red-500 uppercase text-sm tracking-widest mt-4;
      @extend .maven;
    }
    &__title {
      @apply text-xl font-semibold mt-4;
      @extend .maven;
      @extend .text-hover;
    }
    &__description {
      @apply leading-7 mt-2;
    }
  }
  .button {
    @apply mx-auto inline-block mt-20 max-w-full;
  }
}

.popular-posts {
  @apply md:mt-16 lg:pt-20 lg:pb-20;
  .container {
    @apply relative z-10 pr-6;
  }
  &__title {
    @apply pt-10 text-3xl lg:text-5xl font-bold;
    @extend .maven;
  }
  &__description {
    @apply my-4 lg:my-8;
  }
  &__col {
    @apply lg:w-1/2 mx-0;
    &:first-child {
      @apply lg:w-1/2 mr-20;
    }
  }
  &:before {
    @apply absolute z-0 top-0 left-0 w-full lg:w-11/12;
    background-color: #5ecbdc;
    content: '';
    height: 300px;

    @media (min-width: 768px) {
      height: 550px;
    }
    @media (min-width: 1024px) {
      height: 675px;
    }
  }
  .recent-post {
    &__tag {
      @extend .text-default;
      &:hover {
        @apply text-gray-500;
      }
      span {
        @apply ml-4 inline-block;
        &:first-child {
          @apply ml-0;
        }
      }
    }
  }
  .popular-post {
    &__tag {
      color: #5ecbdc;
    }
  }
}
